/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import './base.css';
@import './components.css';
@import './header.css';

/* ACCOUNT LIST - MAIN */


.wrapper {
    min-height: 100vh;
    height: 100%;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: calc(100% - 300px);
        float: right;
    }
}

.admin {
    justify-content: space-between;
    margin-bottom: 4rem;
}

.admin-info {
    font-size: 2.2rem;
    gap: 1rem;
}

.admin-info i {
    font-size: 1.8rem;
}

@media screen and (min-width: 992px) {
    .admin {
        justify-content: flex-end;
    }
}

.burger-menu {
    background-color: transparent;
    border: none;
    outline: none;
    transform: scale(1.75);
    cursor: pointer;
    color: var(--dblue);
    transition: var(--transition);
}

.burger-menu:hover {
    color: var(--dgray);
}

.empty {
    text-align: center;
    padding: 4rem 0;
}

.currencies-container {
    margin-bottom: 3rem;
    justify-content: center;
}

.currency-title {
    font-size: 2.2rem;
}

.currencies {
    gap: 1rem;
}

.currency {
    font-size: 1.5rem;
    color: var(--dblue);
    background-color: var(--lgray);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.current {
    background-color: var(--orange);
    color: #fff;
}

.currency:hover {
    background-color: var(--orange);
    color: #fff;
}

.currency:active {
    transform: scale(0.9);
}


@media screen and (max-width: 450px) {
    .currency-title {
        display: none;
    }

    .currency {
        font-size: 1.3rem;
        padding: 0.4rem 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .currencies-container {
        justify-content: flex-start;
    }
}

.user {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 2rem;
}

.acc-name {
    grid-column: 1 / span 4;
}

.acc-id {
    grid-column: 1 / span 4;
}

.acc-idnum {
    grid-column: 1 / span 4;
}

.acc-iban {
    grid-column: 1 / span 4;
}

.acc-money {
    grid-column: 1 / span 1;
}

.user-btns {
    grid-column: 2 / span 3;
    justify-self: end;
}

@media screen and (max-width: 450px) {
    .acc-money {
        grid-column: 1 / span 4;
    }

    .user-btns {
        grid-column: 1 / span 4;
        justify-self: start;
    }
}

@media screen and (min-width: 1200px) {
    .user {
        grid-template-columns: repeat(10, 1fr);
    }

    .acc-name {
        grid-column: 1/ span 2;
        grid-row: 1/ span 1;
    }

    .acc-id {
        grid-column: 1/ span 2;
        grid-row: 2/ span 1;
    }

    .acc-idnum {
        grid-column: 3/ span 4;
        grid-row: 2/ span 1;
        justify-self: center;
    }

    .acc-iban {
        grid-column: 7/ span 4;
        grid-row: 2/ span 1;
        justify-self: end;
    }

    .acc-money {
        grid-column: 3/ span 4;
        grid-row: 1/ span 1;
        justify-self: center;
    }

    .user-btns {
        grid-column: 7/ span 4;
        grid-row: 1/ span 1;
    }
}

.highlight {
    font-weight: 700;
}

/* ADD MONEY - MAIN */

.add-content {
    padding-top: 8rem;
}

.add-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 4rem 3rem;
}

.add-card p {
    font-size: 2rem;
}

.submit-btn {
    padding: 1rem 1.75rem;
}

/* ADD ACCOUNT - MAIN */

.form-info {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.form-name-container {
    grid-column: 1 / span 2;
}

.form-surname-container {
    grid-column: 1 / span 2;
}

.form-id-container {
    grid-column: 1 / span 2;
}

@media screen and (min-width: 768px) {
    .form-name-container {
        grid-column: 1 / span 1;
    }

    .form-surname-container {
        grid-column: 2 / span 1;
    }
}

.form-input {
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.input-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-btns {
    width: 100%;
    text-align: right;
}

.form-delete-btn {
    margin-right: 1rem;
}

/* LOGIN - MAIN */

.login {
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('../img/bank.jpg');
    background-size: cover;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dblue);
    opacity: 0.6;
}

.login .form {
    position: relative;
    z-index: 99;
}

@media screen and (max-width: 450px) {
    .form-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.error {
    background-color: var(--lgray);
    height: 100%;
    min-height: 100vh;
}

.error .container {
    gap: 4rem;
}

.error h1 {
    font-size: 4rem;
}

.error .btn {
    text-transform: none;
    font-size: 2rem;
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}